      <div class="col-xs-12 col-sm-6 ">
        <div class= "row">
          <div class="order-title">
            <h2>Order summary for <strong><%= @task.company.name %></strong></h2>
          </div>
          <div class="task-status">
            <% if @task.state == "pending" %>
              <p class="task-status-pending">Your task will be assigned a gazelle shortly</p>
              <% else %>
              <p class="task-status-assigned">Your gazelle is on its way</p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="map-wrapper">
            <div id="company-show-map" style="height: 75vh; width: 500px;" data-markers="<%= @markers.to_json %>">
            </div>
        </div>
        <div class="row">
        <div class="order-summary-box">
          <div class="order-details">
            <p>You have ordered a gazelle to <strong><%= @task.title %></strong></p>
          </div>
           <div class="order-details">
            <p><strong><%= @task.description %></strong></p>
          </div>
          <div class="order-details">
            <p>Your price will be <strong> <%= task.cost_per_hour %> DKK per hour</strong></p>
          </div>
        </div>
      </div>
      </div>
    </div>

