<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 ">
      <div class="order-summary-box">
        <div class="order-summary">
          <h1>ORDER SUMMARY FOR <strong><%= @task.company.name %></strong></h1>
        </div>
        <div class="order-details">
          <p>You have ordered a gazelle to <strong id="input-details" ><%= @task.title %></strong> with additional details <strong id="input-details"><%= @task.description %></strong> </p>
        </div>
        <div class="order-details">
          <p>Your total price for <strong id="input-details"><%= @task.task_time %> hours</strong> will be <strong id="input-details"> <%= task.cost_per_hour * task.task_time %> DKK</strong></p>
        </div>
        <div class="card-wrapper">
          <% if @task.state != "pending" %>
            <div class="gazelle-card">
              <div class="gazelle-assigned">
                <p>Your gazelle today will be</p>
                <h2><%= @task.gazelle_runner.first_name %></h2>
              </div>
              <%= cl_image_tag @task.gazelle_runner.photo, class: "gazelle-image" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="map-wrapper">
        <div class="task-status">
          <% if @task.state == "pending" %>
            <p class="task-status-pending">Your task will be assigned a gazelle shortly</p>
            <% else %>
            <p class="task-status-assigned">Your gazelle is on its way</p>
          <% end %>
        </div>
        <div id="company-show-map" style="height: 450px;" data-markers="<%= @markers.to_json %>" data-tasks="<%= @tasks.to_json %>"></div>
      </div>
    </div>
  </div>
</div>



