
<%= simple_form_for [@company, @task] do |f| %>
  <% if @task.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <%= f.input :task_time %>
  <%= f.input :first_location,  input_html: {value: @company.address} %>
  <%= f.input :description %>
  <%= f.input :cost_per_hour %>
  <%= f.association :task_category %>

  <%= f.button :submit, "Submit", class: "btn-solid" %>
  <% end %>
