
<%= simple_form_for [@company, @task] do |f| %>
  <% if @task.errors.any? %>
      <div class="errors-container">
        <ul>
          <% @task.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


  <%= f.input :title, input_html: { value: @search_term }, label: "Task title" %>
  <%= f.input :task_time, label: "Length of task (hours)" %>
  <%= f.input :first_location,  input_html: {value: @company.address} %>
  <%= f.input :second_location, label: "Do you need something picked up on route?" %>

  <%= f.input :description, label: "Other details" %>
  <%= f.input :cost_per_hour, label: "Pay per hour (DKK)" %>s
  <%= f.button :submit, "Submit", class: "btn-solid" %>
  <% end %>
