      <div class="col-xs-12 col-sm-12 ">
        <div class= "row">
          <div class="gazelle-order-title">
            <h2>Task summary for <strong><%= @task.gazelle_runner.first_name  %> <%= @task.gazelle_runner.last_name %> </strong></h2>
          </div>
            <div class="gazelle-task-status">
              <% if @task.state == "pending" %>
                <p class="task-status-pending">Task status: <%= @task.state %></p>
                  <% elsif @task.state == "assigned" %>
                <p class="task-status-assigned">Task status: <%= @task.state %></p>
                  <% else %>
                <p class="task-status-completed">Task status: <%= @task.state %></p>
                  <% end %>
            </div>
        </div>
        <div class= "row">
          <div class="gazelle-map-wrapper">
              <div id="company-show-map" style="height: 60vh;" data-markers="<%= @markers.to_json %>"></div>
          </div>
        </div>
        <div class="row">
         <div class="gazelle-order-summary-box">
            <div class="order-details">
              <p>You are required for <strong><%= @task.company.name  %></strong></p>
            </div>
             <div class="gazelle-order-details">
              <p>You are required to <strong><%= @task.description %></strong></p>
            </div>
              <%= link_to "Mark Task as Completed", complete_task_path(id: @task), class: "btn-main text-center" %>
              <%= link_to "Back to Task Center", tasks_path, class: "btn-main text-center" %>
            </div>
          </div>
        </div>
