<h1>Gazelle Show</h1>
<div class="container">
  <div class="row">
    <div class="company-show-wrapper">
      <div class="col-xs-12 col-sm-6 ">
        <div class="order-summary-box">
          <div class="order-summary">
            <h2>Task summary for <strong><%= @task.gazelle_runner.first_name  %> <%= @task.gazelle_runner.last_name %> </strong></h2>
          </div>
          <div class="order-details">
            <p>You are required for <strong><%= @task.company.name  %></strong></p>
          </div>
           <div class="order-details">
            <p>You are required to <strong><%= @task.description %></strong></p>
          </div>
          <div class="order-details">
            <% if @task.state == "pending" %>
              <p class="task-status-pending">Task status: <%= @task.state %></p>
              <% elsif @task.state == "assigned" %>
              <p class="task-status-assigned">Task status: <%= @task.state %></p>
               <% else %>
              <p class="task-status-completed">Task status: <%= @task.state %></p>
            <% end %>
          </div>
          <%= link_to "Mark Task as Completed", complete_task_path(id: @task), class: "btn-main text-center" %>
          <%= link_to "Back to Task Center", tasks_path, class: "btn-main text-center" %>

        </div>
      </div>
    </div>
    <div class="map-wrapper">
      <div class="col-xs-12 col-sm-6">
        <div id="company-show-map" style="height: 100vh; width: 500px;" data-markers="<%= @markers.to_json %>" data-tasks="<%= @tasks.to_json %>"></div>
      </div>
    </div>
  </div>
</div>

