<p id="notice"><%= notice %></p>

<div class="container">
  <div class= "stat text-center">
    <h1><%= @company.name%> Company Task Dashboard</h1>
  </div>




  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/copenhagen');">
    <% @company.tasks.each do |task| %>
    <div class="card-description">
      <h2><%= task.title %></h2>
      <p><%= task.description.capitalize %></p>
      <p><%= task.cost_per_hour %> kr / hour </p>
    </div>
    <img class="card-user"> <%=  %>
    <%= link_to "", company_task_path(@company, task), class: "card-link" %>
    <% end %>
  </div>




  <br>
  <br>







     <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-danger" %> |
     <%= link_to 'Back', root_path, class: "btn btn-danger" %>
</div>

