<p id="notice"><%= notice %></p>

<div class="container">
  <div class= "stat-text-center">
    <h1>Task dashboard for <%= @company.name%></h1>
  </div>
  <div class="row">
    <% @company.tasks.each do |task| %>
    <div class="col-xs-12 col-sm-6 col-lg-10 col-lg-offset-1">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= task.photo %>');">
        <div class="task-status-dash">
          <% if task.state == "pending" %>
            <p class="company-task-status-pending">Your task will be assigned to a gazelle shortly</p>
             <% elsif task.state == "assigned" %>
            <p class="company-task-status-assigned">Your gazelle is on its way</p>
            <% else %>
            <p class="company-task-status-completed">Task has been completed</p>
          <% end %>
        </div>
        <div class="card-description">
          <h2><%= task.title.capitalize %></h2>
          <% if task.state == "pending" %>
          <p>Your gazelle will be assigned shortly</p>
          <% elsif task.state == "assigned" %>
            <% if task.gazelle_runner %>
              <p>Your gazelle will be <%= task.gazelle_runner.first_name %></p>
            <% end %>
            <% else %>
            <% if task.gazelle_runner %>
              <p>Your gazelle was <%= task.gazelle_runner.first_name %></p>
            <% end %>
          <% end %>
          <p>Total price: <%= task.cost_per_hour * task.task_time %> </p>
        </div>
        <img class="card-user"> <%=  %>
        <%= link_to "", company_task_path(@company, task), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
