<p id="notice"><%= notice %></p>

<div class="container">
  <div class= "stat text-center">
    <h1><%= @company.name%> Company Task Dashboard</h1>
  </div>





  <div>
    <% @company.tasks.each do |task| %>
      <div class="col-lg-12">
        <div class="card-category" class="card">
          <div class="card-categor">
          <h2> <%= task.title %> </h2>
          <p> <%= task.cost_per_hour %> kr / hour </p>
          </div>
          <%= link_to "", company_task_path(@company, task), class: "card-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <br>







     <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-danger" %> |
     <%= link_to 'Back', root_path, class: "btn btn-danger" %>
</div>

